.container {
    justify-content: center; 

}
.linkFromTimeEdit {
    margin-top:40px;
}
.parag {
    margin-top: 60px;
    font-size: large;
    font-weight: bold;
}
.container-fluid {
    background-color: #00264d;
    padding: 0px;
    height: 80px;  
}
img {
    width:300;
    margin-top: 10px;
}